*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:focus{
    outline: none!important;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#landingImg{
    height: 100vh;
    background-image: url("../images/bgImg.jpg");
    background-position: center;
    background-size: cover;
}
.arrowText{
    color: #00659D;
    font-weight: bold;
    font-size: 20px;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    
    border-top: 50px solid #00659D;
}
.arrow-down:hover{
    border-top-color:  #669A30;
}
#menuButton{
    color: #00659D;
    font-size: 30px;
    font-weight: normal;
}
.menuPosts{
    background-color: #000;
}
#menu{
    font-size: 20px;
}
#btnSearch{
    position: absolute;
    top:1px;
    right:0;
    padding: 9px;
    color: #669A30;
    border: 1px solid #669A30;
    border-radius: 4px;
}

.ribbon{
    width: 150px;
    height: 34px;
    top: 20px;
    right: -40px;
    position: absolute;
    display: block;
    background: #FF0000;
    color: #333;
    font-family: arial;
    font-size: 18px;
    color:white;
    text-align: center;
    line-height: 34px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
#align{
    position: relative;
    left:0;
    top: 0;
    padding: 0;
    margin: 0;
}

.configItem{
    
    font-size: 30px;
    color: #00659D;
}

.color{
    color: #669A30;
}
.color2{
    color: #00659D;
}

:root {
    /* Set fade in duration */
    --fade-time: 0.5s;
  }

.imgs img {
  cursor: pointer;
}
/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}
.btn-primary{
    background-color: #00659D;
}

.btn-success{
    background-color: #669A30;
}
.news{
    margin-top:10rem;
}
.bgcolor{
    background-color: #000;
}
.price{
    font-size: 20px;
}
.cart{
    margin-top: 10rem;
}
.num{
    right: 3px;
    top: -10px;
    font-size: 25px;
}
.size{
    font-size: 25px;
}
.trash{
    font-size: 25px;
    color: #00659D;
    cursor: pointer;
}